<nav class="container d-flex flex-column justify-content-center ">
  <h2 class="text-center mb-3 mt-4">Template Component - Article List</h2>
  <button class="btn btn-outline-dark text-center mx-auto mb-4">Add New Article</button>
</nav>
@if(list){
<div class="row g-3 row-cols-md-3 row-cols-sm-2 row-cols-xs-1">
  @for(article of list; track $index){
  <div class="col">
    <div class="card">
      <article-comp [title]="article.title" [content]="article.content"></article-comp>
    </div>
  </div>
  }
</div>

} @else {
Downloading articles ...
}