<div class="card">
  <div class="card-header text-center">
    <h2 class="card-title">{{_article.title}}</h2>
  </div>
  @if(showImage() && validationUrl() && imageUrl !== 'Your Image' ){
  <img class="w-100" [src]="imageUrl" [alt]="title" [title]="title">
  } @else if (imageUrl === 'Your Image' || imageUrl === 'lack of image :('){
  <p class="m-3 fs-5 fst-italic">Your Image</p>
  }
  <div class="card-body">
    <p class="card-text fs-5">{{content}}</p>
  </div>
  <div class="card-footer ">
    {{_article.content}}
    {{_article.id}}
    <div class="mb-0">
      <div class="d-block d-flex justify-content-center">
        @if(showImage() ){
        <my-btn extraClass="btn-secondary" (btnClick)="toggleImage()">Hide Image</my-btn>
        } @else {
        <my-btn extraClass="btn-outline-secondary" (btnClick)="toggleImage()">Show Image</my-btn>
        }
        <my-btn extraClass="btn-outline-secondary" (btnClick)="openEditModal()" [disable]="disableBtns">Edit</my-btn>
      </div>
    </div>
  </div>
</div>