<div class="z-2  backdrop " (click)="close()">
</div>
<div class="container position-fixed top-0 start-50 translate-middle-x z-3 p-0 mt-4">
  <div class="row">
    <div class="col me-3">
      <div class="card p-3 bg-light">
        <div class="card-body">
          <h2 class="card-title text-center mt-3 mb-3">{{_title}}</h2>
          <form #newArticle="ngForm" (ngSubmit)="submitForm()">
            <div class="mb-3">
              <label for="iamge-url" class="form-label">Image Url</label>
              <input type="text" class="form-control" id="iamge-url" name="image-url" placeholder="Your Image"
                [(ngModel)]="_article.imageUrl">
            </div>
            <div class="mb-3">
              <label for="article-name" class="form-label">Article Name</label>
              <input type="text" class="form-control" id="article-name" name="article-name" placeholder="Your Title"
                [(ngModel)]="_article.title">
            </div>
            <div class="mb-3">
              <label for="article-content" class="form-label">Article Content</label>
              <textarea class="form-control" id="article-content" name="article-content" rows="12"
                placeholder="Your Content" [(ngModel)]="_article.content"></textarea>
            </div>
            <div class="mb-4">
              <div class="d-block d-flex justify-content-evenly ">
                @if(_mode=== 'create-mode'){
                <my-btn function="submit" extraClass="btn-outline-dark">Create</my-btn>
                } @else {
                <my-btn function="submit" extraClass="btn-outline-dark">Edit</my-btn>
                }
                <my-btn extraClass="btn-danger" (btnClick)="close()">Cancel</my-btn>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col ms-3">
      <div class="row p-0">
        <div class="card p-0 bg-light">
          <div class="card-body p-0">
            <h3 class="card-title text-center mt-2 mb-3 ">Preview</h3>
          </div>
        </div>
      </div>
      <div class="row p-0 mt-3 modal-dialog-scrollable">
        <article-comp class="p-0  scrollable" [article]="_article" [mode]="_mode"></article-comp>
      </div>
    </div>
  </div>

</div>