<div class="d-flex  flex-column height100">
  <navbar-comp title="Template Component - Article List" buttonContent="Add New Article"
    (buttonClick)="openForm([$event])"></navbar-comp>
  @if (allArticles$ | async; as articles){
  @if(showFormSignal() === formModes.create){
  <app-form itemsType="Article" (closeEvent)="closeForm()" [mode]="formModes.create"
    (submitEvent)="onSubmit($event)"></app-form>
  }@if(showFormSignal() === formModes.edit){
  <app-form itemsType="Article" (closeEvent)="closeForm()" [mode]="formModes.edit" [formData]="viewData"
    (submitEvent)="onSubmit($event)"></app-form>
  }
  <div class="container d-block flex-grow-1">
    <list-comp [itemsList]="articles" class="d-block maxHeight" (editEvent)="openForm($event) ">
    </list-comp>
  </div>
  } @else {
  <p>Loading ...</p>
  }
</div>
<footer-comp>
  <span class="mx-auto my-4"><a class="text-decoration-none text-light-emphasis"
      href="{{footerData.linkHref}}">{{footerData.linkAlias}}</a></span>
  <p class="my-4 copyrights mx-auto text-light-emphasis">©Copyright 2024
    {{footerData.copyrightText}}</p>
</footer-comp>