<div class="card">
  <div class="card-header text-center">
    <h2 class="card-title">{{_data.title}}</h2>
  </div>
  @if(showImage() && validationUrl() && _data.imageUrl !== 'Your Image' ){
  <img class="w-100 p-3" [src]="_data.imageUrl" [alt]="_data.title" [title]="_data.title">
  } @else if (_data.imageUrl === 'Your Image' ){
  <p class="m-3 fs-5 fst-italic">Your Image</p>
  }
  <div class="card-body">
    <p class="card-text fs-5">{{_data.content}}</p>
  </div>
  <div class="card-footer ">
    <div class="mb-0">
      <div class="d-block d-flex justify-content-center">
        @if(showImage() ){
        <my-btn extraClass="btn-secondary" (btnClick)="toggleImage()">Hide Image</my-btn>
        } @else {
        <my-btn extraClass="btn-outline-secondary" (btnClick)="toggleImage()">Show Image</my-btn>
        }
        <my-btn extraClass="btn-outline-secondary" (btnClick)="edit()" [disable]="disableBtn">Edit</my-btn>
      </div>
    </div>
  </div>
</div>